
:root{
    --color-pri:#68bd44;
    --color-sec:#2e2e2e;
    --color-ter:#6d6b6b;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    color:inherit;
}
.container{
    max-width: 1200px;
    width: 95%;
    margin:0 auto;
    padding:80px 20px
}

/* Styles para el menu el header */

.menuNav{
    position: fixed;
    width: 100%;
    top:0;
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.4);
    z-index: 10;
    background-color: #fff;
    transition: top 0.5s;
}
.nav{
    max-width: 1220px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding:0 10px; 
}
.logo{
   display: flex;
   align-items: center;
   width:75px;
}
.logo__img{
    border-radius: 50%;
    object-fit: cover;
}
.logo__subtitle{
    letter-spacing: 1px;
    font-weight: 500;
}
.navList{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navList__item{
    padding: 10px;
    list-style-type: none;
    color: var(--color-sec);
    font-weight:500;
    text-align: center;
    width: 150px;
}
.navList__item-a{
    line-height: 1.5;
    
}
.navList__item-a::after{
    content: "";
    height: 3px;
    width: 0px;
    background-color: var(--color-pri);
    display: block;
    margin:auto;
}

.navList__item-a:hover::after{
    width: 100%;
    transition: width 0.2s linear;
}
.hero.container{
    padding: 0;
    max-width: inherit;
}
.header{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url(/img/pareja-2.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 60px;   
    width: 100%;
}

.hero{
    width: max-content;
    height: max-content;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    
}
.heroText{
    text-align: center;
    color:#fff;
    
}
.title{
    font-size:2.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.title::after{
    content: "";
    display: block;
    height: 3px;
    background-image: linear-gradient(to right,transparent,var(--color-pri),transparent);
    width: 450px;
    margin:10px auto;
}

.heroText__subtitle{
    margin-top:15px;
    font-weight: 400;
    letter-spacing: 2px;
}
.heroFigure{
    position: absolute;
    right: 50%;
    margin-right: -75px;
    bottom: 0;
}
.heroImg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 5px 5px rgb(104, 189, 68, 0.5); 
}

/* Estilos para el about */
.about.container{
    padding: 100px 20px 20px;
}
.titles{
    margin-bottom:40px;
    font-size:2.5rem;
    color:var(--color-pri);
}
.aboutContent{
    width:100%;
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
}
.about::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-image: linear-gradient(to right,transparent,var(--color-pri),transparent);
    margin-top:35px;
}
.aboutFigure{
    width: 35%;
    text-align: center;
    min-width: 315px;
}
.aboutImg{
    width: 90%;
    border-radius: 10px;
}
.aboutText{
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.aboutText__title{
    text-align: center;
    color:var(--color-sec);
    margin-bottom: 20px;
    font-size: 1.8rem;
    font-weight: 500;
}
.aboutText__paragraph{
    color:var(--color-ter);
    line-height: 1.5rem;
    letter-spacing: .02rem;
    text-align:justify;
}
.o{
    color:red;
    text-align: center;
    margin-top:10px;
}

/* Estiles para la tersera seciton "boys" */

.titleBoys{
    text-align: center;
}
.boysContent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-items: center; */
}
.boysContent__item{
    margin-bottom: 20px;
    max-width: 350px; 
    box-shadow: 0 0 10px 4px rgba(0,0,0,0.4);
    border-radius: 5px;
}
.boysImg{
    width: 350px;
    height: 350px;
    object-fit: cover;
    object-position: center top;
    border-radius: 5px 5px 0 0;
}
.boysData{
    padding: 10px 20px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.boysData__item{
    margin-bottom: 5px;
    color:var(--color-ter);
}
.data{
    text-transform: uppercase;
    color:var(--color-sec);
    letter-spacing: 1px;
    text-align: center;
}
.bottom{
    width: 250px;
    height: 50px;
    margin: 10px auto 0;
    border: 2px solid var(--color-pri);
    color:var(--color-pri);
    border-radius: 10px;
    text-align: center;
}
.bottom__item{
    display: block;
    width: 100%;
    line-height: 50px;
    font-weight: 600;
    color: inherit;
    letter-spacing: 1px; 
    font-size:18px; 
}
.bottom:hover{
    background-color: var(--color-pri);
    color:#fff;
}

/* Aciendo estilos par el footer */
.footer{
    background-color:#e9e6e6f2;
}
.footer__text{
    text-align: center;
}